body {
	background-color: #eeeeee;
}

p {
        width:90%;
        padding-left: 15%;
        width: 75%;
}

header h1 {
    color:red;

}

header h2 {
    color:blue;
}

nav {
    float:left;
    width: 5%;
    padding-right: 15%;
    
}
    

@media screen and (max-width: 600px) {
    
    body {
        padding: 3%;
}
    
    h1, h2 {
    text-align: center;
}
    nav {
        width:100%;
        padding-right:5%;
    }
    
    nav ul {
        list-style-type: none;
        padding-left:0;
        
    }
    
    nav li {
        display: inline;
        margin-right: 10px;
        text-align: center;
    }
    
    p {
        clear: left;
        margin-left: 0;
        padding-left:0;
        width: 100%;
    }
}